In [1]:
from sqlalchemy import create_engine
# Pandas
import pandas as pd
# Dependencies
import matplotlib.pyplot as plt
import numpy as np

In [11]:
from sqlalchemy import create_engine
engine = create_engine("postgresql://postgres:abcdefd11@localhost:5432/Employee Database")
conn = engine.connect()

In [23]:
titles_pd = pd.read_sql("SELECT * FROM titles", conn)
titles_pd.head()

  title_id               title
0    s0001               Staff
1    s0002        Senior Staff
2    e0001  Assistant Engineer
3    e0002            Engineer
4    e0003     Senior Engineer

In [29]:
titles_pd.rename(columns = {'title_id':'emp_no'}, inplace = True)

In [32]:
titles_pd["emp_no"].replace({"s0001": "10001", "s0002": "10002","e0001":"10003","e0002":"10004","e0003":"10005"}, inplace=True)

In [18]:
salary_pd = pd.read_sql("SELECT * FROM salaries", conn)
salary_pd.head()

   emp_no  salary
0   10001   60117
1   10002   65828
2   10003   40006
3   10004   40054
4   10005   78228

In [47]:
combined = pd.merge(titles_pd,salary_pd,on="emp_no",how="left")
combined.head()

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

In [16]:
combined_grp = combined.groupby("title").mean()
combined_grp

NameError: name 'combined' is not defined

In [7]:
plot1 = combined_grp.plot(kind="bar", title="Title vs Average Salary")
plot1.set_xlabel("Title")
plot1.set_ylabel("Average Salary")
plt.savefig("Title vs Average Salary.png")
plt.show()

NameError: name 'combined_grp' is not defined